[submodule "includes/jsTree"]
	path = includes/jsTree
	url = git@github.com:mbraak/jqTree.git
[submodule "includes/storage"]
	path = includes/storage
	url = git@github.com:julien-maurel/jQuery-Storage-API.git
